body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
  color: #333;
}

header {
  margin-bottom: 20px;
}

nav {
  display: flex;
  justify-content: space-between; /* Распределяет элементы по всей ширине */
  align-items: center;
}

.lang-switcher {
  display: flex;
  gap: 5px; /* Расстояние между кнопками */
}


select {
  float: right;
}

main {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
