body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
  color: #333;
}

header {
  margin-bottom: 20px;
}

/* Стиль для навигации */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* при необходимости */
}

nav > div:first-child {
  display: flex;
  gap: 10px; /* или другой размер, который нужен */
}

/* Обозначим, что блок с языковыми кнопками всегда будет иметь одинаковый стандарт */
.lang-switcher {
  display: flex;
  gap: 8px; /* одинаковое расстояние между кнопками */
}

/* Убедитесь, что нигде не перезаписываются эти стили */



select {
  float: right;
}

main {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
